/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/*Basic*/
html {
  height: 100%; }

body {
  height: 100%;
  min-height: 100%;
  background-color: #f8f8f8; }

body, input, select, textarea {
  font-family: Segoe UI, sans-serif;
  font-size: 14pt;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: -0.015em; }

h1, h2, h3 {
  font-weight: 300;
  line-height: 1;
  margin: 0 0 0.5em 0; }

h1 {
  font-size: 2.7em;
  letter-spacing: -0.05em; }

h2 {
  font-size: 1.7em;
  line-height: 1.5;
  letter-spacing: -0.035em; }

h3 {
  font-size: 1.3em;
  line-height: 1.5;
  letter-spacing: -0.025em; }

hr {
  border: 0;
  border-bottom: solid 2px #afafaf;
  margin-bottom: 1.5em; }

/*Controls*/
.controls {
  display: inline;
  margin: 0;
  float: left;
  width: 100%; }
  .controls .uploadfile input[type='submit'] {
    background-image: url(../img/upload.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 4px;
    padding-left: 2em;
    fill: #fff;
    cursor: pointer; }
  .controls .createdir input[type='submit'] {
    background-image: url(../img/dir.png);
    background-repeat: no-repeat;
    background-position: center;
    /* 10px, 3px; */
    padding-left: 2em;
    cursor: pointer; }
  .controls .download input[type='submit'] {
    background-image: url(../img/downld.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 4px;
    padding-left: 2em;
    cursor: pointer; }

/*Form*/
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  padding-left: 0.4em;
  outline: 0;
  margin: 0.2em;
  text-decoration: none;
  line-height: 1.4;
  border: 2px solid #efefef;
  border-radius: 5px; }

input[type="submit"],
.button {
  box-shadow: none;
  background: #3f7cac;
  color: #fff;
  border: 2px solid #3f7cac;
  text-transform: uppercase; }

/*Error*/
#error h1 {
  text-align: center;
  font-size: 3em; }

/*Table*/
.table-wapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto; }

table {
  margin: 0 0 2em 0;
  width: 100%; }
  table tbody tr {
    border: solid 1px #afafaf;
    border-left: 0;
    border-right: 0; }
  table tbody tr:hover {
    background: #3f7cac;
    color: #fff; }
  table td {
    padding: 0.75em 0.75em; }
  table th {
    color: #646464;
    font-size: 0.9em;
    padding: 0 0.79em 0.79em 0.79em;
    text-align: left; }
  table thead {
    border-bottom: solid 2px #afafaf; }

/*Header*/
#logo {
  background: #3f7cac;
  color: #fff;
  cursor: default;
  height: 3.45em;
  left: 0;
  line-height: 1.25;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000; }
  #logo h1 {
    height: inherit;
    color: inherit;
    left: 0.5em;
    line-height: inherit;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0; }
  #logo nav {
    height: inherit;
    line-height: 3.5;
    position: absolute;
    left: 20em;
    top: 0;
    vertical-align: text-bottom; }
    #logo nav > ul {
      list-style: none;
      margin: 0;
      padding-left: 0; }
      #logo nav > ul > li {
        display: inline-block;
        padding-left: 0; }
      #logo nav > ul a {
        display: inline-block;
        height: 1.5em;
        line-height: 1.45em;
        padding: 0 1em;
        color: inherit;
        border: 0;
        text-decoration: none; }

/*Banner*/
#banner {
  background-attachment: scroll, fixed;
  background-color: #fff;
  -webkit-background-image: url("../img/cover.jpg");
  -moz-background-image: url("../img/cover.jpg");
  -o-background-image: url("../img/cover.jpg");
  background-image: url("../img/cover.jpg");
  -webkit-background-position: top left, center center;
  -moz-background-position: top left, center center;
  -o-background-position: top left, center center;
  background-position: top left, center center;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  -webkit-background-repeat: round;
  -moz-background-repeat: round;
  -o-background-repeat: round;
  background-repeat: round;
  margin-top: 3.45em;
  padding: 12em 0 17em 0;
  text-align: center; }
  #banner :last-child {
    margin-bottom: 0; }
  #banner h2 {
    color: #222;
    font-size: 1.75em;
    line-height: 2;
    padding: 0;
    margin: 0 0 0.5em 0; }
  #banner form {
    margin: 0 auto;
    max-width: 100%;
    width: 25em; }
  #banner input[type="submit"],
  #banner .button {
    min-width: 15em;
    box-shadow: none;
    background: #3f7cac;
    color: #fff;
    border: 2px solid #3f7cac;
    text-transform: uppercase;
    margin: 0.6em; }
  #banner input[type="text"],
  #banner input[type="password"],
  #banner select,
  #banner textarea {
    padding-left: 0.4em;
    min-width: 14.4em; }
    #banner input[type="text"]:focus,
    #banner input[type="password"]:focus,
    #banner select:focus,
    #banner textarea:focus {
      box-shadow: inset 0 0 0 2px #fff;
      border: 2px solid #00acff;
      border-radius: 5px; }

/*Main*/
#main {
  box-sizing: border-box;
  margin: 0 2em;
  position: relative;
  padding: 4em 0 2em 0;
  min-height: 100%; }
  #main > header {
    margin: 0 0 3em 0; }
    #main > header h2 {
      text-align: center;
      font-size: 2.75;
      margin: 0; }
    #main > header p {
      text-align: justify;
      display: inline-block;
      font-style: normal;
      margin: 1 0 0 0;
      padding: 0 0 1.25em 0; }
  #main #registration {
    text-align: center;
    max-width: 50%;
    width: 25em;
    border: solid 1px #ccc; }
    #main #registration p {
      margin-top: 2em;
      font-size: 1.2em; }
    #main #registration > form {
      margin: 0;
      padding: 1.2em; }
      #main #registration > form input[type="submit"],
      #main #registration > form .button {
        min-width: 15em;
        box-shadow: none;
        background: #3f7cac;
        color: #fff;
        border: 2px solid #3f7cac;
        text-transform: uppercase;
        margin: 1em; }
    #main #registration label {
      font-size: 0.8em; }
    #main #registration input[type="checkbox"] + label {
      cursor: pointer; }
    #main #registration input[type="text"],
    #main #registration input[type="password"],
    #main #registration input[type="email"],
    #main #registration select,
    #main #registration textarea {
      padding-left: 0.4em;
      border: 2px solid #efefef;
      border-radius: 5px;
      min-width: 14.4em;
      -webkit-transition: border-color 0.15s linear;
      -moz-transition: border-color 0.15s linear;
      -o-transition: border-color 0.15s linear;
      transition: border-color 0.15s linear; }
      #main #registration input[type="text"]:focus,
      #main #registration input[type="password"]:focus,
      #main #registration input[type="email"]:focus,
      #main #registration select:focus,
      #main #registration textarea:focus {
        box-shadow: inset 0 0 0 2px #fff;
        border: 2px solid #00acff;
        border-radius: 5px; }
    #main #registration input[type="password"]:focus:invalid {
      border-color: #cf5340; }
    #main #registration input[type="password"]:valid {
      border-color: #b4d388; }

/*CTA*/
#cta {
  background-position: top left, center center;
  background-size: auto;
  background-position: top left, center center;
  background-size: auto;
  padding: 6em 0 4em 0;
  text-align: center;
  background-repeat: round; }

/*Footer*/
#footer {
  background: #3f7cac;
  padding: 2em 0 1em 0;
  color: #fff;
  line-height: 3;
  height: 3.1em;
  position: relative;
  margin-top: -6.1em; }
  #footer .copyright {
    display: inline-block;
    color: inherit;
    font-size: 0.9em;
    line-height: 1;
    margin: 0.2em 0 0 0;
    padding: 0; }
    #footer .copyright li {
      display: inline-block;
      list-style: none; }
      #footer .copyright li:first-child {
        margin-left: 0.5em;
        padding-left: 1em; }
  #footer .buttonmenu {
    display: inline;
    margin-top: 0;
    line-height: 1;
    padding: 0; }
    #footer .buttonmenu ul {
      margin-left: 14em;
      display: inline-block; }
      #footer .buttonmenu ul li {
        display: inline-block;
        border-left: solid 1px #fff;
        height: 1em;
        line-height: inherit;
        margin-left: 1em;
        padding-left: 1em;
        list-style: none; }
        #footer .buttonmenu ul li:first-child {
          border-left: 0;
          margin-left: 0;
          padding-left: 0; }
        #footer .buttonmenu ul li:last-child {
          border-right: 0;
          margin-right: 0;
          padding-right: 0; }
        #footer .buttonmenu ul li a {
          display: block;
          height: 1.5em;
          line-height: inherit;
          padding: 0 1em;
          color: inherit;
          border: 0;
          text-decoration: none; }
    #footer .buttonmenu .storages {
      margin-left: 3.6em; }
    #footer .buttonmenu .tu-ilmenau {
      height: 3em;
      width: 3em;
      -webkit-background-image: url("../img/icons/tu_ilmenau.svg");
      -moz-background-image: url("../img/icons/tu_ilmenau.svg");
      -o-background-image: url("../img/icons/tu_ilmenau.svg");
      background-image: url("../img/icons/tu_ilmenau.svg"); }

@media screen and (max-width: 380px) {
  body, input, select, textarea {
    font-size: 11pt; }

  h2 {
    font-size: 1.5em;
    line-height: 1.35em;
    letter-spacing: -0.025em; }

  #logo nav {
    display: none; }

  /* Banner */
  #banner {
    padding: 4em 0; }
    #banner h2 {
      font-size: 1.5em; }
    #banner p {
      font-size: 1.25em; }

  /* Main */
  #main {
    box-sizing: none;
    padding: 4em 0 0 0; }
    #main > header {
      margin: 0 0 0 0; }
      #main > header h2 {
        font-size: 1.6em; }
      #main > header p {
        font-size: 1em;
        padding-bottom: 1.3em; }
        #main > header p:last-child {
          padding-bottom: 3em; }

  #cta {
    display: none; }

  body.landing #main {
    padding: 0;
    margin-top: 0; }

  /* Footer */
  #footer {
    width: 100%;
    padding: 2em 0;
    height: 22em;
    margin-bottom: -22em;
    position: relative; }
    #footer .copyright li {
      border-left: 0;
      display: inline;
      line-height: 1;
      margin-left: 0;
      padding-left: 0; }
    #footer .buttonmenu {
      font-size: 1.4em;
      float: left;
      display: block;
      margin-top: 0;
      line-height: 1;
      padding: 0; }
      #footer .buttonmenu ul {
        margin-left: 0;
        display: block; }
        #footer .buttonmenu ul li {
          display: block;
          height: 1em;
          border: none;
          line-height: inherit;
          margin-left: 0;
          margin: 0.8em 0;
          padding-top: 0.5em;
          padding-left: 0;
          list-style: none; }
          #footer .buttonmenu ul li a {
            display: block;
            height: 1.5em;
            line-height: inherit;
            padding: 0.5em;
            color: inherit;
            border: 0;
            text-decoration: none; }
      #footer .buttonmenu .storages {
        margin-top: 2em;
        margin-left: 0; } }

/*# sourceMappingURL=styles.css.map */
